**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/uiDesigner.xml
**/out/*
**/meanteam_oop_2018_iteration_1.properties
**/meanteam_oop_2018_iteration_1.xml
**/module_meanteam_oop_2018_iteration_1.xml
**/savegame.txt
**/keybinds.txt